html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body > div {
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

body {
	background-color: #e8e8e5;
	font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
	margin: 0;
}

input {
	font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	height: 24px;
	line-height: 24px;
	width: 100%;
}
